<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Car Showroom</title>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>

<ul class="menu-main">
  <li><a href="/" class="current">Car showroom</a></li>
  <li><a href="/cars">Cars</a></li>
  <li><a href="/clients">Clients</a></li>
  <li><a href="/contracts">Contracts</a></li>
</ul>

 <h2 style="font-size:4vw;">This is the web application of car showroom</h2>
</body>
</html>